<div class="container">
  <div class="form_container error">
    <p>Errors:</p>
    <% if @errors %>
      <% @errors.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
    <p><a href="javascript:history.back()"><--Return to Previous Page</a></p>
  </div>
</div>
