<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Giantpic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="<%= url('/application.css') %>">
</head>
<body>
  <div id="navigation">
    <% if signed_in? %>
      <a href="/images/new" id="nav_add_pic">+</a>
    <% else %>
      <a href="/sign_up" id="nav_add_pic">+</a>
    <% end %>
      <a href="/index" id="nav_title">Giantpic</a>

    <% if signed_in? %>
      <form action="/sign_out" method="post" class="icons">
        <input name="_method" type="hidden" value="delete" />
        <input name="sign_out" type="submit" value="sign out" id="sign_out_button" />
      </form>
    <% else %>
      <a href="/sign_in" class="icons">sign in</a>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
