<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Giantpic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/genericons.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="<%= url('/application.css') %>">
</head>
<body>
  <div id="navigation">
    <% if signed_in? %>
      <a href="/images/new" >
        <div class="genericon genericon-polldaddy" id="add_icon"></div>
      </a>
    <% else %>
      <a href="/sign_up">
        <div class="genericon genericon-polldaddy" id="add_icon"></div>
      </a>
    <% end %>
      <a href="/index" id="nav_title">Giantpic</a>

    <% if signed_in? %>
      <form action="/sign_out" method="post" class="icons">
        <input name="_method" type="hidden" value="delete" />
        <button name="sign_out" type="submit" value="sign out" id="sign_out_button">
          <div class="genericon genericon-close icons"></div>
        </button>
      </form>
      <a href="/user/<%= current_user.id %>" class="icons"><div class="genericon genericon-user"></div></a>
    <% else %>
      <a href="/sign_in" class="icons"><div class="genericon genericon-user"></div></a>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
