<div class="container">
  <h1>Add a picture</h1>

  <form action="/images" method="post">
    <label for="title">Title</label>
    <input name="picture[title]" />

    <br />

    <label for="url">Url</label>
    <input name="picture[url]" />

    <br />

    <label for="caption">Caption</label>
    <input name="picture[caption]" />

    <br />

    <input name="save_picture" type="submit" value="Add Picture" />
  </form>
</div>
