<h1>Add a picture</h1>

<form action="/index" method="post">

  <label for="name">Title</label>
  <input name="picture[title]" />

  <br />

  <label for="name">Url</label>
  <input name="picture[url]" />

  <br />

  <label for="name">Caption</label>
  <input name="picture[caption]" />

  <br />

  <input name="save_picture" type="submit" value="Add Picture" />

</form>
