<div class="container">
  <div class="index_image">

    <img src=<%= @picture.url %> alt="image" class="full_image">

    <a href=<%= @picture.url %>><%= @picture.title %></a>

    <p><%= @picture.caption %></p>

  </div>
</div>
