<div class="container retina_wood">
  <div class="form_container">
    <form action="/sign_up" method="post">
      <label for="email">Email:</label>
      <input name="user[email]" /><br />

      <label for="password">Password:</label>
      <input name="user[password]" type="password" /><br />

      <input name="save_user" type="submit" value="Sign-Up" class="inverse_btn" />
    </form>
  </div>
</div>
