* {
  margin: 0;
  font-family: georgia;
}

@viewport {
  width: device-width;
}

html, body {
  height: 100%;
}

.container {
  padding-top: 45px;
  height:100%;
}

a {
  text-decoration: none;
  color: lightgrey;
}

a:hover {
  color: white;
}

input {
  font-size: 30px;
  margin: 10px;
}

label {
  font-size: 30px;
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.full_image {
  top: 0;
  left: 0;
  min-width: 100%;
  float: left;
  max-width: 100%
}

#navigation {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
  height: 35px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  background-color: rgba(1, 1, 1, 0.8);
  color: rgba(1, 1, 1, 0.8);
}

#navigation a {
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  color: lightgrey;
  text-decoration: none;
}

#navigation a:hover {
  color: white;
}

a#nav_title {
  color: orange;
  font-family: georgia;
  font-size: 25px;
  line-height: 35px;
}

a#nav_title:hover {
  color: orange;
  text-decoration: overline;
}

.index_image {
  position: relative;
  width: 100%;
  z-index: 0;
  clear: both;
}

.image_caption {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: rgba(1, 1, 1, 0.6);
  color: lightgrey;
  font-size: 35px;
  padding: 2px;
}

.image_link_caption {
  color: lightgrey;
}

.image_link_caption:hover {
  color: white;
}

.form_container {
  background-color: rgba(1, 1, 1, 0.8);
  width: 480px;
  color: lightgrey;
  margin-top: 50px;
  padding: 10px;
}

a#nav_add_pic {
  font-size: 25px;
  padding: 0px;
  font-family: georgia;
}

.retina_wood {
  background: url(retina_wood.png) repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*buttons*/
.primary_btn {
  color: orange;
  border-radius: 0px;
  font-size: 30px;
  padding: 10px;
  border: 0;
  background-color: rgba(1, 1, 1, 0.8);
}

.inverse_btn {
  color: rgba(1, 1, 1, 0.8);
  border-radius: 0px;
  font-size: 30px;
  padding: 10px;
  border: 0;
  background-color: rgba(255,165,0, 0.9) ;
}

.primary_btn:hover, .inverse_btn:hover {
  color: white;
}
/*end buttons*/

/*mobile*/
@media (max-width: 480px) {
  .form_container {
    width: 100%;
    margin-top: 0px;
  }

  input, label, .primary_btn, .inverse_btn {
    font-size: 20px;
  }

  #edit_image {
    display: none;
  }

  .image_caption {
    font-size: 20px;
    top: 0px;
  }
}
/*end mobile*/
